<div class="row page-titles " *ngFor="let user of users">
    <div class="col-md-5 align-self-center">
        <h2 class="text-themecolor animated fadeInLeft">Bienvenid@
            <h4 class="animated fadeInDown">{{user.username}} </h4>
        </h2>
    </div>
</div>

<div class="row animated fadeInUp">

    <div class="col-6 col-sm-4 col-md-3 ">
        <div class="card">
            <a routerLink="../paises">
                <div class="card-body">
                    <i class="mdi mdi-earth"></i>
                    <p>Paises</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card">
            <a routerLink="../prensa">
                <div class="card-body">
                    <i class="mdi mdi-note"></i>
                    <p>Prensa</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
        <div class="card">
            <a routerLink="../slider">
                <div class="card-body">
                    <i class="mdi mdi-animation"></i>
                    <p>Slider</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
        <div class="card">
            <a routerLink="../video">
                <div class="card-body">
                    <i class="mdi mdi-animation"></i>
                    <p>Video</p>
                </div>
            </a>
        </div>
    </div>

</div>