<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> <small>© 2021 - {{year}} | Red CLH | Desarrollado por: <a href="https://malcolmcordova.com" target="_blank">Malcolm Córdova Studio Design</a></small> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->